.playground-root {
  margin: 50px;
  width: 90%;
}
.playground-wrapper {
  border: 1px solid #F1F1F1;
  padding: 5px;
  border-radius: 2px;
  width: 570px;
  height: 600px;
}

.playground-toolbar {
  width: 98%;
}

.playground-display {
  border: 1px solid #F1F1F1;
  padding: 5px;
  border-radius: 5px;
  width: 570px;
  border-radius: 2px;
  height:600px;
}
.no-focus:focus {
  outline: none;
}
